* {
  padding: 0;
  margin: 0;
}

main {
  height: 100vh;
  width: 100vw;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

button {
  display: block;
  margin-bottom: 50px;
  padding: 10px 20px;

  border: none;
  border-radius: 5px;
  background-color: red;

  color: white;
  font-weight: bold;
}

.container {
  width: 640px;
  height: 640px;

  border: 2px solid black;
}
